<%= form_with(model: postulante) do |form| %>
  <% if postulante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postulante.errors.count, "error") %> prohibited this postulante from being saved:</h2>

      <ul>
        <% postulante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rut %>
    <%= form.number_field :rut %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>
    <%= form.date_select :fecha_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :genero %>
    <%= form.text_field :genero %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.number_field :telefono %>
  </div>

  <div class="field">
    <%= form.label :curriculum %>
    <%= form.text_area :curriculum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
